.DS_Store
nbproject
pkg/*
*.gem
.bundle

db/schema.rb

config/database.yml
config/initializers/secret_token.rb

log

public/export
public/assets
public/*/iqvoc

tmp
.idea
*.iml

.ruby-version
node_modules
Gemfile.lock
