<div class="panel">
  <h2><%= t("txt.views.labels.template_form") %></h2>
  <%= label.value %>
</div>

<div class="panel">
  <h2><%= t("txt.views.labels.language") %></h2>
  <%= label.language %>
</div>
